name: Deploy Application

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/moonco:${{ github.sha }}
  deploy:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Prepare EC2 environment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            mkdir -p ~/app
            if [ ! -f ~/app/.env.prod ]; then
              touch ~/app/.env.prod
            fi

      - name: Copy files to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker-compose.prod.yml,nginx.conf,.env.prod"
          target: "~/app"
          debug: true

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/app
            sed -i '/IMAGE_TAG/d' .env.prod
            echo "IMAGE_TAG=${{ github.sha }}" >> .env.prod

            echo "기존 컨테이너 종료 중..."
            docker-compose -f docker-compose.prod.yml --env-file .env.prod down

            echo "서비스 시작 중 (Nginx, Nest App)..."
            docker-compose -f docker-compose.prod.yml --env-file .env.prod up -d nginx nest_app

            if [ ! -f ~/app/certbot/conf/live/api.bogiegie.shop/fullchain.pem ]; then
              echo "SSL 인증서가 없습니다. Certbot을 통해 생성합니다..."
              docker-compose -f docker-compose.prod.yml --env-file .env.prod run --rm certbot certonly --webroot -w /var/www/certbot --force-renewal --email boogie.bogiegie@gmail.com -d api.bogiegie.shop --agree-tos

              echo "Nginx 재시작 중..."
              docker-compose -f docker-compose.prod.yml --env-file .env.prod restart nginx
            fi

            echo "Certbot 자동 갱신 서비스 시작 중..."
            docker-compose -f docker-compose.prod.yml --env-file .env.prod up -d certbot

            echo "이전 이미지 정리 중..."
            docker image prune -af
