name: Deploy Application

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/moonco:${{ github.sha }}

  deploy:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Prepare EC2 environment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Preparing EC2 environment..."
            mkdir -p ~/app
            mkdir -p ~/app/public/products  # products 폴더 생성
            if [ ! -f ~/app/.env.prod ]; then
              touch ~/app/.env.prod
              echo ".env.prod 파일이 생성되었습니다."
            else
              echo ".env.prod 파일이 이미 존재합니다."
            fi
            echo "EC2 환경 준비 완료."

      - name: Copy files to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker-compose.prod.yml,nginx.conf,.env.prod"
          target: "~/app"
          debug: true

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Deploying to EC2..."
            cd ~/app

            # IMAGE_TAG 업데이트
            echo "Updating IMAGE_TAG in .env.prod..."
            sed -i '/IMAGE_TAG/d' .env.prod
            echo "IMAGE_TAG=${{ github.sha }}" >> .env.prod

            echo "Stopping existing containers..."
            docker-compose -f docker-compose.prod.yml --env-file .env.prod down --remove-orphans

            echo "Creating public/products folder if it doesn't exist..."
            mkdir -p ~/app/public/products
            echo "public/products 폴더 생성 완료."

            echo "Starting services (Nginx, Nest App)..."
            docker-compose -f docker-compose.prod.yml --env-file .env.prod up -d --build

            echo "Pruning unused Docker images..."
            docker image prune -af

            echo "Deployment 완료."